// user-nav
nav{
    height: 98px;
    background-color: $brand_primary;
    .user-nav{
        height: 40px;
        text-align: right;
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                padding: $spacing*0.5;
                a{
                    font-size: $font_size*0.8;
                    color: $sub_dark;
                    &:hover{
                        color: $sub_light;
                    }
                }
                select{
                    font-size: $font_size*0.8;
                    option{
                        font-size: $font_size*0.8;
                    }

                }
            }
        }

    }
    .menu-nav{
        height: 58px;
        .logo-box{
            margin-right: $spacing*1.2;
        }
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                padding: $spacing*1.2;
                a{
                    font-size: $font_size*0.9;
                    color: $brand_secondary;

                }
                

            }
        }
    }

}

#phone::before{
    @include fontawesome("\f879", $action_press)
}
#chat::before{
    @include fontawesome("\f27a", $action_press)
}
#sign-in::before{
    @include fontawesome("\f007", $action_press)
}
#cart::before{
    @include fontawesome("\f07a", $action_press)
}

.logo-box{
    width: 90px;
}
