section{
    #section-download{
        background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
        height: 464px;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: top center;
    }
    .container{
        width: 100%;
        


    }
}
