// colors
$brand_primary: #101010;
$brand_secondary: #f1f1f1;
$sub_light: #e7e7e7;
$sub_dark: #989898;
$action_press: #009cff;

// font
$font_family: 'Roboto', sans-serif;
$font_size: 16px;
$spacing: 20px;
